callProductServiceBefore/SOA/Schemas/callProductService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/bpel_process/callProductServiceBefore/callProductService"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="Body">
    <complexType>
      <sequence>
        <element name="GoodsId" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="Response">
    <complexType>
      <sequence>
        <element name="StatusCode" type="string"/>
        <element name="Message" type="string"/>
        <element name="Data" type="anyType"/>
      </sequence>
    </complexType>
  </element>
</schema>