callProductServiceBefore/SOA/Schemas/getProductDetail.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xmlns.oracle.com/bpel_process/callProductServiceBefore/getProductDetail"
            targetNamespace="http://xmlns.oracle.com/bpel_process/callProductServiceBefore/getProductDetail"
            elementFormDefault="qualified">
  <xsd:element name="Body">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GoodsId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response" type="xsd:anyType"/>
</xsd:schema>
