callCreateOrder/SOA/Schemas/callCreateOrder.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/bpel_process/callCreateOrder/callCreateOrder"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="Body" type="anyType"/>
	<element name="Response">
  <complexType>
   <sequence>
    <element name="StatusCode" type="int"/>
    <element name="Message" type="string"/>
   </sequence>
  </complexType>
 </element>
</schema>