callAccountService/SOA/WSDLs/callAccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="callAccountService"
                  targetNamespace="http://xmlns.oracle.com/bpel_process/callAccountService/callAccountService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:client="http://xmlns.oracle.com/bpel_process/callAccountService/callAccountService"
                  xmlns:clientSignUp="http://xmlns.oracle.com/bpel_process/callAccountService/signUp"
                  xmlns:clientSignIn="http://xmlns.oracle.com/bpel_process/callAccountService/signIn"
                  xmlns:clientAddAccount="http://xmlns.oracle.com/bpel_process/callAccountService/addAccount"
                  xmlns:clientGetListAccount="http://xmlns.oracle.com/bpel_process/callAccountService/getListAccount"
                  xmlns:clientUpdateRole="http://xmlns.oracle.com/bpel_process/callAccountService/updateRole"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/bpel_process/callAccountService/callAccountService"
              schemaLocation="../Schemas/callAccountService.xsd"/>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/bpel_process/callAccountService/signUp"
              schemaLocation="../Schemas/signUp.xsd"/>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/bpel_process/callAccountService/addAccount"
              schemaLocation="../Schemas/addAccount.xsd"/>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/bpel_process/callAccountService/getListAccount"
              schemaLocation="../Schemas/getListAccount.xsd"/>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/bpel_process/callAccountService/updateRole"
              schemaLocation="../Schemas/updateRole.xsd"/>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/bpel_process/callAccountService/signIn"
              schemaLocation="../Schemas/signIn.xsd"/>
    </schema>
  </wsdl:types>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- portType implemented by the callAccountService BPEL process -->
  <!-- portType implemented by the requester of callAccountService BPEL process
	for asynchronous callback purposes
	-->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the callAccountService partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <plnk:partnerLinkType name="callAccountService_plt">
    <plnk:role name="client_role" portType="client:client"/>
    <plnk:role name="response_role" portType="client:response"/>
  </plnk:partnerLinkType>
  
  
  <wsdl:message name="signIn_request">
    <wsdl:part name="payload" element="clientSignIn:Body"/>
  </wsdl:message>
  <wsdl:message name="signIn_response">
    <wsdl:part name="payload" element="clientSignIn:GetResponse"/>
  </wsdl:message>
  <wsdl:message name="signUp_request">
    <wsdl:part name="payload" element="clientSignUp:Body"/>
  </wsdl:message>
  <wsdl:message name="signUp_response">
    <wsdl:part name="payload" element="clientSignUp:UpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="addAccount_request">
    <wsdl:part name="payload" element="clientAddAccount:Body"/>
  </wsdl:message>
  <wsdl:message name="addAccount_response">
    <wsdl:part name="payload" element="clientAddAccount:UpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="getListAccount_request">
    <wsdl:part name="payload" element="clientGetListAccount:Body"/>
  </wsdl:message>
  <wsdl:message name="getListAccount_response">
    <wsdl:part name="payload" element="clientGetListAccount:GetResponse"/>
  </wsdl:message>
  <wsdl:message name="updateRole_request">
    <wsdl:part name="payload" element="clientUpdateRole:Body"/>
  </wsdl:message>
  <wsdl:message name="updateRole_response">
    <wsdl:part name="payload" element="clientUpdateRole:UpdateResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="client">
        <wsdl:operation name="signIn">
          <wsdl:input message="client:signIn_request"/>
          <wsdl:output message="client:signIn_response"/>
        </wsdl:operation>
        <wsdl:operation name="signUp">
          <wsdl:input message="client:signUp_request"/>
          <wsdl:output message="client:signUp_response"/>
        </wsdl:operation>
        <wsdl:operation name="addAccount">
          <wsdl:input message="client:addAccount_request"/>
          <wsdl:output message="client:addAccount_response"/>
        </wsdl:operation>
        <wsdl:operation name="getListAccount">
          <wsdl:input message="client:getListAccount_request"/>
          <wsdl:output message="client:getListAccount_response"/>
        </wsdl:operation>
        <wsdl:operation name="updateRole">
          <wsdl:input message="client:updateRole_request"/>
          <wsdl:output message="client:updateRole_response"/>
        </wsdl:operation>
      </wsdl:portType>
  <wsdl:portType name="response"/>
</wsdl:definitions>
