callNewOrderServiceAfter/SOA/Schemas/getShipFeeProject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/bpel_process/callNewOrderServiceAfter/getShipFeeProject"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="Body">
    <complexType>
      <sequence>
        <element name="Street" type="string"/>
        <element name="Ward" type="string"/>
        <element name="District" type="string"/>
        <element name="Province" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="Response">
    <complexType>
      <sequence>
        <element name="StatusCode" type="int"/>
        <element name="Message" type="string"/>
        <element name="Data" type="anyType"/>
      </sequence>
    </complexType>
  </element>
</schema>