callProductDefaultBefore/SOA/Schemas/getProductDefault.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xmlns.oracle.com/bpel_process/callProductDefaultBefore/getProductDefault"
            targetNamespace="http://xmlns.oracle.com/bpel_process/callProductDefaultBefore/getProductDefault"
            elementFormDefault="qualified">
  <xsd:element name="Body">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PageSize" type="xsd:int"/>
        <xsd:element name="PageNumber" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Response" type="xsd:anyType"/>
</xsd:schema>
